{% extends 'myrifoma/base.html' %}
{% load staticfiles %}
{% block body %}
<div class="row">
    
        <div class="col-md-3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique voluptas itaque sit eaque facere in! Reiciendis debitis, aliquid delectus quos quidem placeat inventore tempora nulla ex ad quae, at dolor. 
        </div>
        <div class="col-md-3">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum dolorum iste fuga accusamus neque ullam nobis totam magni, dolores, error quis tenetur animi soluta, voluptas deleniti sit debitis sed eius.
        </div>
        <div class="col-md-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis odio aliquam rem ea soluta nisi doloribus excepturi commodi, natus est, iure architecto maiores quia laborum ipsa assumenda illum sit magnam.
        </div>
        <div class="col-md-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis odio aliquam rem ea soluta nisi doloribus excepturi commodi, natus est, iure architecto maiores quia laborum ipsa assumenda illum sit magnam.
        </div>
        <div class="col-md-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique voluptas itaque sit eaque facere in! Reiciendis debitis, aliquid delectus quos quidem placeat inventore tempora nulla ex ad quae, at dolor. 
            </div>
            <div class="col-md-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum dolorum iste fuga accusamus neque ullam nobis totam magni, dolores, error quis tenetur animi soluta, voluptas deleniti sit debitis sed eius.
            </div>
            <div class="col-md-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis odio aliquam rem ea soluta nisi doloribus excepturi commodi, natus est, iure architecto maiores quia laborum ipsa assumenda illum sit magnam.
            </div>
            <div class="col-md-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis odio aliquam rem ea soluta nisi doloribus excepturi commodi, natus est, iure architecto maiores quia laborum ipsa assumenda illum sit magnam.
        </div>

        <div class="col-md-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique voluptas itaque sit eaque facere in! Reiciendis debitis, aliquid delectus quos quidem placeat inventore tempora nulla ex ad quae, at dolor. 
            </div>
            <div class="col-md-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum dolorum iste fuga accusamus neque ullam nobis totam magni, dolores, error quis tenetur animi soluta, voluptas deleniti sit debitis sed eius.
            </div>
            <div class="col-md-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis odio aliquam rem ea soluta nisi doloribus excepturi commodi, natus est, iure architecto maiores quia laborum ipsa assumenda illum sit magnam.
            </div>
            <div class="col-md-3">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis odio aliquam rem ea soluta nisi doloribus excepturi commodi, natus est, iure architecto maiores quia laborum ipsa assumenda illum sit magnam.
            </div>
            <div class="col-md-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique voluptas itaque sit eaque facere in! Reiciendis debitis, aliquid delectus quos quidem placeat inventore tempora nulla ex ad quae, at dolor. 
                </div>
                <div class="col-md-3">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum dolorum iste fuga accusamus neque ullam nobis totam magni, dolores, error quis tenetur animi soluta, voluptas deleniti sit debitis sed eius.
                </div>
                <div class="col-md-3">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis odio aliquam rem ea soluta nisi doloribus excepturi commodi, natus est, iure architecto maiores quia laborum ipsa assumenda illum sit magnam.
                </div>
             <div class="col-md-3">
                 
                 <div class="list-group">
                     <a href="#" class="list-group-item active">
                         <h4 class="list-group-item-heading">List group item heading</h4>
                         <p class="list-group-item-text">Content goes here</p>
                     </a>
                 </div>
                 
             </div>
             <div class="col-md-3">
                 
                 
                 
             </div>
             <div class="col-md-3">
                 
                
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="{% static '/myrifoma/img/police.png' %}" alt="Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Text goes here...</p>
                    </div>
                </div>
                
                 
             </div>
    
</div>

<ul class="pagination" id="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>

{% endblock %}
{% block styling %}
    <style>
        .col-md-3{
            background-color: blue;
            /* padding: 30px 30px 30px 30px; */
        }
        img{
            height:60px;
            width:60px;
        }
    </style>
{% endblock %}